<div class="flex xl:flex-row lg:ml-44 lg:flex-col flex-col  items-center h-full   ">
    <div class="xl:mb-72  ">
        <a  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Najlepsze i najnowsze bity na wyciągnięcie ręki!</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Jesteśmy zatopieni w świecie tworzenia i produkcji utworów muzycznych od wielu lat. Nasze doświadczenie sięga daleko w przeszłość, gdzie nieustannie doskonalimy nasze umiejętności, by dostarczać produkty muzyczne najwyższej jakości. Każdy nasz projekt to efekt pasji, zaangażowania i ciągłego dążenia do doskonałości, co sprawia, że nasze dzieła są nie tylko wyjątkowe, ale także spełniają najwyższe standardy jakośc.</p>
            </a>
    </div>
    
    <div class="max-w-sm bg-white border lg:mb-5 mt-20 border-gray-200 rounded-lg shadow xl:ml-96 ">
        <a>
            <img class="rounded-t-lg w-fit h-52" src="./assets/banner-squad.jpg" alt="" />
        </a>
        
        <div class="md:px-5">
            <a>
                <h5 class="mb-2 text-3xl font-bold tracking-tight text-center mt-2 text-gray-900">Nasz aktualny skład!</h5>
            </a>
           
        </div>
        <a class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
            <img class="w-full rounded-t-lg h-96 md:h-52 md:w-32 object-cover md:rounded-none md:rounded-l-lg" src="./assets/banner-dante.gif" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Dante</h5>
                <p class="mb-3 font-normal text-gray-700">Twórca strony, producent muzyczny oraz inżynier dźwięku. Działa na scenie już od 8 lat.</p>
            </div>
        </a>
        
        <a class="flex flex-col items-center mt-10 bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
            <img class="w-full rounded-t-lg h-96 md:h-52 md:w-32 object-cover md:rounded-none md:rounded-l-lg" src="./assets/banner-noose.gif" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noose</h5>
                <p class="mb-3 font-normal text-gray-700">Producent muzyczny, raper. Działa na scenie już od 7 lat.</p>
            </div>
        </a>
        
    </div>
  

    
    
</div>
