<div class="flex justify-center text-white mt-16 ">
    <h2 class="font-extrabold text-3xl" >Dante</h2>
    <img src="./assets/banner-dante.gif" class="rounded-full w-24 h-24 ml-6 relative bottom-8">

</div >
<div class="flex  justify-center mt-10">
<div class="mb-20 ">
    <a  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">O mnie</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400"> <p> <a class="pl-10">Zajmuję </a>się miksem od sześciu lat i moje narzędzia pracy to przede wszystkim pluginy od Waves, FabFilter, T-Racks oraz wiele innych. Korzystam z bogatego asortymentu tych profesjonalnych narzędzi, co pozwala mi eksperymentować z różnorodnymi brzmieniami i efektami dźwiękowymi. </p>
        <p> <a class="pl-10">Jako </a> producent muzyczny, moje podejście skupia się na satysfakcji klientów, którzy zawsze odchodzą zadowoleni z efektów mojej pracy. Nieograniczona liczba możliwych poprawek pozwala mi dopracować każdy detal, gwarantując spełnienie oczekiwań i satysfakcję klientów. </p>
        </a>
</div>
</div>
<div class="flex justify-center text-white ">
   
</div >
<div class=" flex flex-col items-center xl:flex-row xl:justify-between mr-10 ml-10 mt-14">
    
<div class="mb-20 max-w-lg ">
    <a  class="block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <h5 class="mb-4 text-2xl font-bold text-center tracking-tight text text-gray-900 dark:text-white">GrochuBart</h5>
        <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Jara mnie grind <a href="https://www.youtube.com/watch?v=EUFPToGrPno" class="inline-block align-middle ml-4"><img src="./assets/yt-icon.png" alt=""></a>
        <a href="https://open.spotify.com/track/1UIFCGRws92HIqzG4MTi1z?si=28856d2be5cb472a"class="inline-block align-middle ml-5"><img src="./assets/spotify-icon.png" width="45" height="45" alt=""></a></p>

        <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Nowy Naruto <a href="https://www.youtube.com/watch?v=pEb2hjZ1xw4" class="inline-block align-middle ml-8"><img src="./assets/yt-icon.png" alt=""></a>
            <a href="https://open.spotify.com/track/6KBhYTX5TUperEmOj7OfOx?si=995fa371ad584ffb"class="inline-block align-middle ml-5"><img src="./assets/spotify-icon.png" width="45" height="45" alt=""></a></p>

            <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4 "> Wolny czas ft. Młody West <a href="https://www.youtube.com/watch?v=_VdE3qSGcgI" class="inline-block align-middle ml-10 "><img src="./assets/yt-icon.png" alt=""></a>
                <a href="https://open.spotify.com/track/6KBhYTX5TUperEmOj7OfOx?si=995fa371ad584ffb"class="inline-block align-middle ml-5"><img src="./assets/spotify-icon.png" width="45" height="45" alt=""></a></p>    

            
                <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Kush znowu mi wpadł do płuc <a href="https://www.youtube.com/watch?v=jorv_uoAk1Y" class="inline-block align-middle ml-4"><img src="./assets/yt-icon.png" alt=""></a>
                    <a href="https://open.spotify.com/track/7EZpTbWeq7m6NykpHvyIen?si=3a3b765135694b09"class="inline-block align-middle ml-5"><img src="./assets/spotify-icon.png" width="45" height="45" alt=""></a></p>    

                    
                <p class="   text-gray-700 dark:text-gray-400 text-xl mb-4">I inne... </p>    
        </a>
        
</div>

<div class="mb-20 w-full max-w-sm ">
    <a  class="block  p-6 mr-auto ml-auto bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <h5 class="mb-4 text-2xl font-bold text-center tracking-tight text text-gray-900 dark:text-white">Trapaltan</h5>
        <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Heavy damage <a href="https://www.youtube.com/watch?v=MZ1bypoF1lc" class="inline-block align-middle ml-4"><img src="./assets/yt-icon.png" alt=""></a>
        </p>

        <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Crew <a href="https://www.youtube.com/watch?v=VsXKY8x8vX4" class="inline-block align-middle ml-24"><img src="./assets/yt-icon.png" alt=""></a>
            </p>

            <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4 "> On The Floor <a href="https://www.youtube.com/watch?v=XfYqqJOFgMI" class="inline-block align-middle ml-7 "><img src="./assets/yt-icon.png" alt=""></a></p>    

            <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4 "> FreeMyHomies <a href="https://www.youtube.com/watch?v=KYesHzkYMco" class="inline-block align-middle ml-2 "><img src="./assets/yt-icon.png" alt=""></a></p>  
                    
                <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4">I inne... </p>    
        </a>
        
</div>

<div class="mb-20 w-full max-w-sm xl:block">
    <a  class="block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <h5 class="mb-4 text-2xl font-bold text-center tracking-tight text text-gray-900 dark:text-white">Inni twórcy</h5>
        <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Hare  <a href="https://www.youtube.com/@hare2005/videos" class="inline-block align-middle ml-16"><img src="./assets/yt-icon.png" alt=""></a>
        </p>

        <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4"> Kreweta <a href="https://www.youtube.com/@Kreweta" class="inline-block align-middle ml-8"><img src="./assets/yt-icon.png" alt=""></a>
            </p>

            <p class=" inline-block  text-gray-700 dark:text-gray-400 text-xl mb-4 "> William <a href="https://www.youtube.com/channel/UCyp98DZ3Y7A_-gpaJbzJO1g" class="inline-block align-middle ml-10 "><img src="./assets/yt-icon.png" alt=""></a></p>    

            <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4 "> Blumson <a href="https://www.youtube.com/@blumson" class="inline-block align-middle ml-8 "><img src="./assets/yt-icon.png" alt=""></a></p>  
            <p class=" block  text-gray-700 dark:text-gray-400 text-xl mb-4">... </p> 
            
        </a>
        
</div>


</div>